*.gradle/
*build/

.project
.classpath
.springBeans
.settings/
.idea
.idea/
*.iml
target/
generated/

#Android
*gen
*local.properties
*proguard-project.txt
*coverage/

#Build
target
target-eclipse
*.class
#Misc
*~
*.info
*bin

#Idea
*.iml
*.ipr
*.iws
.idea

#Eclipse
.classpath
.project
.settings
.pmd*

*.log
*.log*
logs

*.pyc
*.DS_Store
*.swp
*.vim

*.orig

